.image-card {
  box-shadow: 0 1px 1rem -4px #929292;
  border-radius: 6px;
  cursor: pointer;
  transition: all 250ms ease-in-out;
  img {
    height: 150px;
    aspect-ratio: inherit;
  }

  &:hover {
    box-shadow: 0 4px 1rem -4px #000;
    transform: translateY(-3px);
  }
}
