.info-box {
  &__title {
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: left;
  }
  &__text {
    margin-top: 15px;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: #333333;
  }
  &__fallback-text {
    color: red;
  }
}
