.popup-wrapper {
  &__heading {
    margin-top: 0;
    text-align: center;
    font-size: 30px;
    font-weight: 700;
    color: #333;
    display: flex;
    align-items: center;
    justify-content: center;
    .extension-title-x {
      font-weight: 900;
      font-size: 47px;
      margin-left: -10px;
      margin-right: -13px;
      margin-bottom: 12px;
      color: #f27a1a;
    }
    margin-bottom: 10px;
  }
  .section-wrapper {
    border: 1px solid #e6e6e6;
    border-radius: 4px;
    padding: 20px 20px 20px 20px;
    margin-bottom: 20px;
    background-color: #fafafa;
    position: relative;
    &__title {
      font-size: 16px;
      font-weight: 700;
      line-height: 20px;
      position: absolute;
      top: -11px;
      left: 12px;
      background: white;
      margin: 0px 4px;
      padding: 0px 5px;
      border-radius: 4px;
    }
  }
}
