.link-wrapper-list {
  color: white;
  padding: 10px 0px;
  &__link {
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline-block;
    max-width: 480px;
    white-space: nowrap;
  }
  &__content {
    display: flex;
    justify-content: space-between;
    background-color: #ec9f61;
    align-items: center;
    padding: 8px;
    border-radius: 4px;
    margin-bottom: 1rem;
  }
  &__content:last-child {
    margin-bottom: 0;
  }
  &__copy {
    width: 14px;
    height: 14px;
    cursor: pointer;
    color: white;
  }
}
