.metric-list {
  width: 100%;
  &__title {
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: 0em;
  }
  &__items {
    margin-top: 15px;
  }
  &__fallback-text {
    font-style: italic;
    font-size: 20px;
  }

}
