.metric-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
  line-height: 18px;
  height: 42px;
  margin-bottom: 12px;
  padding: 8px 6px;
  border-bottom: 1px solid #e6e6e6;
  &__name {
    display: flex;
    &_1 {
      font-weight: 600;
    }
  }
  .threshold-bar-wrapper {
    position: relative;
    .threshold-bar-pointer {
      position: absolute;
      color: #333;
      font-size: 20px;
      display: flex;
      top: -20px;
      &-value {
        font-size: 12px;
        margin-left: 4px;
      }
    }
    .threshold-bar-self {
      display: flex;
      height: 10px;
      width: 345px;
      background: rgb(19, 233, 60);
      background: linear-gradient(
        90deg,
        rgba(19, 233, 60, 1) 25%,
        rgba(228, 178, 17, 1) 38%,
        rgba(242, 5, 0, 1) 84%
      );
      .threshold-bar-self-good,
      .threshold-bar-self-need-improvement {
        height: 100%;
        border-right: 2px solid #f5f5f5;
        box-sizing: border-box;
        width: 115px;
        position: relative;
        &-limit {
          position: absolute;
          color: #333;
          right: -24px;
          bottom: -20px;
          font-size: 12px;
          min-width: 35px;
        }
      }
      .threshold-bar-self-bad {
        height: 100%;
        width: 115px;
      }
    }
  }
}
.metric-item:last-child {
  border: none;
}
