.redirection-item {
  height: 60px;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 12px;
  line-height: 16px;
  background: #c9e4fe;
  border-radius: 4px;
  padding: 12px;
  margin-bottom: 8px;
  &__icon-box {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 36px;
    background-color: #4a90e2;
    margin-right: 8px;
    border-radius: 4px;
    &__last-item {
      background-color: #0bc15c;
    }
  }
  &__infoes {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 40px;
    margin-right: 8px;
    &__url {
      width: 364px;
      font-weight: 600;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    &__status {
      font-weight: 400;
      text-overflow: ellipsis;
    }
  }
  &__copy {
    cursor: pointer;
  }
}
.last-item {
  background: #c6f3dd;
  &__icon-box {
    background: #0bc15c;
  }
}
.redirection-item:last-child {
  margin-bottom: 0;
}
