.ld-json-wrapper {
  padding-top: 14px;
  &__content {
    max-height: 500px;
    overflow: scroll;
    border-radius: 4px;

    &__navigation {
      display: flex;
      gap: 4px;
      margin: 12px 0 12px 12px;
      user-select: none;

      & > * {
        cursor: pointer;
      }
    }
    &__viewer {
      display: flex;
      flex-direction: column;
      padding: 6px;
      margin-bottom: 6px;
      border-bottom: 1px solid #e6e6e6;
      &__self {
        padding: 3px !important;
        font-size: 13px !important;
      }
    }
    &__viewer:last-child {
      border: 0px;
      margin-bottom: 0;
    }
    &__type {
      color: #333;
      font-size: 14px;
      line-height: 18px;
      font-weight: 600;
    }
  }
  &__title {
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: left;
    margin-bottom: 15px;
    display: inline-block;
  }
}
.fallback-text {
  color: red;
}
.invalid {
  font-weight: 600;
  padding: 6px 0;
}
